*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    background-color: rgb(rgb(214, 198, 198), rgb(152, 184, 152), rgb(239, 239, 247));
}
.app-container{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    background-color: bisque;
    width:30%;
    max-width: 350 px;
    padding: 24px;
    border-radius: 14px;
    text-align: center;
    align-items: center;
}

.profile-image{
    width:110px;
    height: 110px;
    border-radius: 20%;
    border:4px;
    
}
.role{
    font-size: 14px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px;
}
.skill-badge{
    background: #eef2ff;
    color:black;
    border-radius: 2px;
    padding: 4px;
}